<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windhc.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.windhc.domain.Category">
    <id column="categoryId" jdbcType="INTEGER" property="categoryId" />
    <result column="categoryName" jdbcType="VARCHAR" property="categoryName" />
  </resultMap>

  <sql id="Base_Column_List">
    categoryId, categoryName
  </sql>

  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where categoryId = #{categoryId,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from category
  </select>

  <delete id="deleteById" parameterType="java.lang.Long">
    delete from category
    where categoryId = #{categoryId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.windhc.domain.Category">
    insert into category (categoryName)
    values (#{categoryName,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.windhc.domain.Category">
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        categoryId,
      </if>
      <if test="categoryName != null">
        categoryName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByIdSelective" parameterType="com.windhc.domain.Category">
    update category
    <set>
      <if test="categoryName != null">
        categoryName = #{categoryName,jdbcType=VARCHAR},
      </if>
    </set>
    where categoryId = #{categoryId,jdbcType=INTEGER}
  </update>

  <update id="updateById" parameterType="com.windhc.domain.Category">
    update category
    set categoryName = #{categoryName,jdbcType=VARCHAR}
    where categoryId = #{categoryId,jdbcType=INTEGER}
  </update>
</mapper>